@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Mukta&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family:Poppins,sans-serif;
}

body{
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
}

#node{
  width: 350px;
  height: 770px;
  background:#FFFF54 ;
  border-radius: 10px;
  border: solid 1px;
}

.Baslik{
  text-align: center;
  padding: 18px;
  font-size: 24px;
  font-weight: 600;
}


.ilk{
  padding: 20px;
  display: flex;
  font-size: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ikinci{
  padding: 20px;
  display: flex;
  font-size: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ucuncu{
  padding: 20px;
  display: flex;
  font-size: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.Dakika{
  display:flex;
  flex-direction: column;
  font-size:30px;
}
.Gb{
  font-weight: 600;
  font-size: 40px;
}

.Tl{
  font-weight: 600;
  font-size: 40px;
}

.Dakika{
  font-size:30px;
}

#Vodafone{
  color: red;
  text-decoration: underline;
  font-size: 45px;
}

.resim{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ortalan{
    display: flex;
    flex-direction: column;
  }
.myButton{
  position: relative;
  color: white;
  width: 150px;
  height: 60px;
  margin: 10px;
  background: rebeccapurple;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border:solid 1px ;
}

.myButton:hover{
  background: firebrick;
}

.container{
    display: flex;
  }

.download{
    position: relative;
    color: white;
    width: 150px;
    height: 60px;
    margin-left: 10px;
    background: rebeccapurple;
    font-size: 16px;
    border-radius: 10px;
    border:solid 1px;
  }

.download:hover{
    background: firebrick;
  }
#showimg{
  margin-top: 10px;
  margin-left: 10px;
  padding: 20px;
}
